svg {
  fill: rgba(255, 255, 255, 0);
  margin: auto;
}

.custom-h2 {
  padding-top: 2% !important;
  font-size: x-large !important;
}

#consequences {
  margin-bottom: 2%;
}

.measureSelection {
  background: #b32400;
  border-radius: 4px;
  border-style: none;
  color: white;
  padding: 1%;
  width: 100%;
  text-align: left;
}

.measureSelection[selected="true"] {
  background: #ff3300;
  color: white;
}

.feature.active {
  fill: #779cca;
}

@media (max-width: 835px) {
  #content {
    flex-direction: column;
  }

  .custom-h2 {
    font-size: large !important;
  }
}

.closedItem {
  height: 0px;
  -webkit-transform: scaleY(0);
  -o-transform: scaleY(0);
  -ms-transform: scaleY(0);
  transform: scaleY(0);
}

.openItem {
  margin: 1em;

  -webkit-transform: scaleY(1);
  -o-transform: scaleY(1);
  -ms-transform: scaleY(1);
  transform: scaleY(1);

  -webkit-transform-origin: top;
  -o-transform-origin: top;
  -ms-transform-origin: top;
  transform-origin: top;

  -webkit-transition: -webkit-transform 0.4s ease-out;
  -o-transition: -o-transform 0.4s ease;
  -ms-transition: -ms-transform 0.4s ease;
  transition: transform 0.4s ease;
}

h1,
p,
h2,
h3 {
  color: white;
}

#customMietendeckelApplet {
  background: rgba(43, 50, 64, 0.8);
}

#content {
  padding: 0 5% 5% 5%;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.numbers-container {
  background: rgba(255, 255, 255, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 1%;
  border-right: 5px #ff3300 solid;
}

.in-box {
  margin: 1%;
}

.in-box > b,
.custom-bold > b {
  font-weight: 900;
}

.callout {
  border-left: 5px #ff3300 solid;
  padding-left: 2%;
  font-size: large;
  font-weight: 900;
}

#disclaimer {
  padding: 5% 5% 0 5%;
}
