#customMietendeckelApplet {
    font-family: 'Univers', sans-serif;
}

svg {
    border: 1px solid black;
}

.measureSelection {
    background: red;
    border-radius: 4px;
    border-style: none;
    color: white;
}

.measureSelection[selected=true] {
    background: darkred;
    color: white;
}

#consequences {
    border: 1px solid black;
}